	<div class="site-content">
<div class="site-header">
	<div class="container">
		<a href="/" class="branding">
			<img src="assets/images/logo.png" alt="" class="logo">
			<div class="logo-type">
				<h1 class="site-title">Desafio</h1>
				<!-- <small class="site-description">tagline goes here</small> -->
			</div>
		</a>
	</div>
</div> <!-- .site-header -->

<!-- section for rendering weather -->
<gs-weather></gs-weather>
<!-- section for rendering weather ends-->

<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<p>Midias Socias</p>
				<div class="social-links">
					<a href="https://www.facebook.com/thulio.buarque"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/ThulioBuarque?lang=pt-br"><i class="fa fa-twitter"></i></a>
					<a href="https://plus.google.com/u/0/113201889952360619568"><i class="fa fa-google-plus"></i></a>
					<a href="https://github.com/thuliobuarque"><i class="fa fa-github"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer> <!-- .site-footer -->
</div>
